*{
margin: 0;
padding: 0;
scroll-behavior: smooth;
box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

header .container {
    display: flex;
    align-items: center;
    padding: 10px;
}

header .container ul {
    display: flex;
    list-style: none;       
}

header img.logo {
    width: 40px;
    height: 40px;
    border-radius: 200px;
}

header h1.logotext {
    font-family: 'Dancing Script', cursive;
}

nav li {
    display: inline;
    margin-left: 10px;  
    padding-left: 20px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.banner {
    background-image: url(/assets/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1, .banner h2{
  margin-bottom: 20px;
}

button {
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 4px;
    box-shadow: none;
    border-style: none;
    width: 150px;
    height: 50px;
    color: #000000;
    font-size: small;
}

#responsive-icon {
  display: none;
  width: 50px;
  height: 50px;
}

#responsive-icon img{
  width: 100%;
  height: 100%;
}

/* section two*/

.section-two {
    justify-content:center;
    align-items: center;
    display:flex;
    flex-direction: column;
}

.titulo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.text-container{
    text-align: center;
    display: inline-block;
    margin: 100px;
}
.text-container h2{
    font-size: 23px;
}

.divider{
    width: 30%;
    border-bottom: 5px solid black;
    margin-bottom: 10%;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 50px;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 45px;
    margin-bottom: 40px;
    margin: 0 100px;
}

.img-left, .img-right {
    height: 300px;
}

.img-left {
    width: 40%;
}

.img-right {
    width: 60%;
}

/*footer*/

#informations{
  background-color: #333333;
  min-height: 700px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#text_info{
  margin-top: 72px;
  margin-bottom: 48px;
}

#text_info h2 {
  margin-bottom: 20px;
}

#page_break{
  width: 30%;
  height: 5px;
  background-color: #FFF;
  margin: 60px auto 0;
}

#hotel_informations{
  display: flex;
  height: 100%;
}

.hotel_info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.hotel_info img{
  width: 80px;
  height: 80px;
}

.cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 100px;
}

.titulo-cadastrar {
    font-size: 12px;
}

.text-cadastrar h2{
    text-align: center;
    font-size: 15px;
    padding: 60px;
    
}

.barra-de-cadastro button{
    background-color: darkorange;
    width: 110px;
    height: 28px;
}

.barra-de-cadastro input{
    font-size: medium;
    width: 680px;
    height: 28px;
    
}

.barra-de-cadastro{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 799px){
    header {
      padding: 0 20px;
    }
  
    header .container {
      padding: 0;
    }
  
    header .container ul{
        display: none;
    }

    #responsive-icon {
      display: block;
    }

    #wrapper {
      margin: 0 10px 20px;
    }

    .text-container{
        margin: 33px;
    }

    .main-container{
        flex-direction: column;
        margin: 0 20px;
    }

    .img-left {
        width: 100%;
        height: 246px;
    }

    .img-right {
        width:100%;
        height: 261px;
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px;
        font-size: 20px;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin: 30px;
    }

    #informations {
        height: auto;
    }
    
    #hotel_informations {
        display: flex;
        flex-direction: column;
    }

    .cadastrar {
        margin: auto;
        margin-top: 40px;
    }

    .text-cadastrar{
        margin: auto;
    }

    .barra-de-cadastro input{
        height: auto;
        width: auto;
    }

    body .banner {
        background-image: url(https://www.imagensparawhats.club/wp-content/uploads/2019/02/Praia-2.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        color:#FFF;
    }

}
